In [10]:
#Test data loading

from src.data_loading import load_adult_income_dataset, load_german_credit_dataset

X_train, y_train, A_train, df_train = load_adult_income_dataset("train")
X_val, y_val, A_val, df_val = load_adult_income_dataset("val")

Xg_train, yg_train, Ag_train, gdf_train = load_german_credit_dataset("train")

df_train.head(), gdf_train.head()

(   age    workclass  fnlwgt     education  education_num      marital_status  \
 0   25      Private  198870     Bachelors             13       Never-married
 1   60  Federal-gov  119832  Some-college             10  Married-civ-spouse
 2   23      Private  122272     Bachelors             13       Never-married
 3   29      Private   87507     Doctorate             16  Married-civ-spouse
 4   23      Private  245302  Some-college             10            Divorced

        occupation relationship                race     sex  capital_gain  \
 0    Adm-clerical    Own-child               Black    Male             0
 1    Adm-clerical      Husband               White    Male          7298
 2    Adm-clerical    Own-child               White  Female             0
 3  Prof-specialty      Husband  Asian-Pac-Islander    Male             0
 4           Sales    Own-child               Black  Female             0

    capital_loss  hours_per_week native_country income  income_binary
 0             0              35  United-States  <=50K              0
 1             0              40  United-States   >50K              1
 2             0              30  United-States  <=50K              0
 3             0              60          India  <=50K              0
 4             0              40  United-States  <=50K              0  ,
   status_existing_checking  duration_months credit_history purpose  \
 0                      A13               12            A32     A42
 1                      A14               12            A34     A49
 2                      A14               13            A32     A43
 3                      A14               12            A32     A40
 4                      A14               12            A32     A43

    credit_amount savings employment_since  installment_rate  \
 0           2251     A61              A73                 1
 1           1264     A65              A75                 4
 2           1409     A62              A71                 2
 3           1101     A61              A73                 3
 4            804     A61              A75                 4

   personal_status_sex other_debtors  ...  other_installment_plans housing  \
 0                 A92          A101  ...                     A143    A152
 1                 A93          A101  ...                     A143    A151
 2                 A92          A101  ...                     A143    A152
 3                 A94          A101  ...                     A143    A152
 4                 A93          A101  ...                     A143    A152

    existing_credits   job people_liable  telephone foreign_worker  target_raw  \
 0                 1  A172             1       A191           A201           1
 1                 1  A172             1       A191           A201           1
 2                 1  A173             1       A191           A201           1
 3                 2  A173             1       A192           A201           1
 4                 1  A173             1       A191           A201           1

   credit_risk credit_risk_binary
 0        good                  1
 1        good                  1
 2        good                  1
 3        good                  1
 4        good                  1

 [5 rows x 23 columns])

In [11]:
#test if preprocessors work

from src.data_loading import load_adult_income_dataset, load_german_credit_dataset
from src.preprocessing import adult_income_preprocessor, german_credit_preprocessor

X_train, y_train, A_train, df_train = load_adult_income_dataset("train")
Xg_train, yg_train, Ag_train, gdf_train = load_german_credit_dataset("train")

adult_prep = adult_income_preprocessor()
german_prep = german_credit_preprocessor()

X_adult_trans = adult_prep.fit_transform(X_train)
X_german_trans = german_prep.fit_transform(Xg_train)

X_adult_trans.shape, X_german_trans.shape

((24129, 104), (600, 61))

In [12]:
#Test model implementations

from src.models import train_adult_income_baselines, train_german_credit_baselines

adult_income_models = train_adult_income_baselines()
german_credit_models = train_german_credit_baselines()

[Adult income] dummy: val accuracy = 0.751
[Adult income] logreg: val accuracy = 0.848
[Adult income] tree: val accuracy = 0.809
[Adult income] rf: val accuracy = 0.849
[Adult income] gb: val accuracy = 0.860
[German credit] dummy: val accuracy = 0.700
[German credit] logreg: val accuracy = 0.780
[German credit] tree: val accuracy = 0.680
[German credit] rf: val accuracy = 0.765
[German credit] gb: val accuracy = 0.775

In [13]:
#training model for fairness metrics
 
from src.models import train_adult_income_baselines, train_german_credit_baselines

adult_income_models = train_adult_income_baselines()
german_credit_models = train_german_credit_baselines()

[Adult income] dummy: val accuracy = 0.751
[Adult income] logreg: val accuracy = 0.848
[Adult income] tree: val accuracy = 0.809
[Adult income] rf: val accuracy = 0.849
[Adult income] gb: val accuracy = 0.860
[German credit] dummy: val accuracy = 0.700
[German credit] logreg: val accuracy = 0.780
[German credit] tree: val accuracy = 0.680
[German credit] rf: val accuracy = 0.765
[German credit] gb: val accuracy = 0.775

In [14]:
from src.fairness import (evaluate_adult_income_fairness, evaluate_german_credit_fairness)

adult_income_results = evaluate_adult_income_fairness(adult_income_models, protected_attr="sex")
german_credit_results = evaluate_german_credit_fairness(german_credit_models, protected_attr="personal_status_sex")

Adult income model: dummy (protected: sex)
Overall metrics:
accuracy          0.754316
precision         0.000000
recall            0.000000
f1                0.000000
selection_rate    0.000000
tpr               0.000000
fpr               0.000000
dtype: float64

By group:
        accuracy  precision  recall   f1  selection_rate  tpr  fpr
sex
Female  0.886627        0.0     0.0  0.0             0.0  0.0  0.0
Male    0.690253        0.0     0.0  0.0             0.0  0.0  0.0

Adult income model: logreg (protected: sex)
Overall metrics:
accuracy          0.847676
precision         0.730190
recall            0.602703
f1                0.660349
selection_rate    0.202789
tpr               0.602703
fpr               0.072535
dtype: float64

By group:
        accuracy  precision    recall        f1  selection_rate       tpr  \
sex
Female  0.925707   0.744898  0.524237  0.615385        0.079788  0.524237
Male    0.809895   0.728024  0.616608  0.667700        0.262344  0.616608

             fpr
sex
Female  0.022957
Male    0.103370

Adult income model: tree (protected: sex)
Overall metrics:
accuracy          0.804449
precision         0.598435
recall            0.620270
f1                0.609157
selection_rate    0.254648
tpr               0.620270
fpr               0.135563
dtype: float64

By group:
        accuracy  precision    recall        f1  selection_rate       tpr  \
sex
Female  0.894769   0.533223  0.576302  0.553926        0.122532  0.576302
Male    0.760717   0.610578  0.628062  0.619197        0.318616  0.628062

             fpr
sex
Female  0.064509
Male    0.179754

Adult income model: rf (protected: sex)
Overall metrics:
accuracy          0.847078
precision         0.719862
recall            0.618108
f1                0.665116
selection_rate    0.210956
tpr               0.618108
fpr               0.078345
dtype: float64

By group:
        accuracy  precision    recall        f1  selection_rate       tpr  \
sex
Female  0.926114   0.729858  0.552962  0.629213        0.085895  0.552962
Male    0.808810   0.718330  0.629653  0.671075        0.271509  0.629653

             fpr
sex
Female  0.026171
Male    0.110794

Adult income model: gb (protected: sex)
Overall metrics:
accuracy          0.865870
precision         0.793501
recall            0.613784
f1                0.692167
selection_rate    0.190040
tpr               0.613784
fpr               0.052025
dtype: float64

By group:
        accuracy  precision    recall        f1  selection_rate       tpr  \
sex
Female  0.934867   0.809399  0.556553  0.659574        0.077956  0.556553
Male    0.832463   0.791045  0.623926  0.697617        0.244309  0.623926

             fpr
sex
Female  0.016758
Male    0.073958

German credit model: dummy (protected: personal_status_sex)
Overall metrics:
accuracy          0.700000
precision         0.700000
recall            1.000000
f1                0.823529
selection_rate    1.000000
tpr               1.000000
fpr               1.000000
dtype: float64

By group:
                     accuracy  precision  recall        f1  selection_rate  \
personal_status_sex
A91                  0.375000   0.375000     1.0  0.545455             1.0
A92                  0.666667   0.666667     1.0  0.800000             1.0
A93                  0.750000   0.750000     1.0  0.857143             1.0
A94                  0.650000   0.650000     1.0  0.787879             1.0

                     tpr  fpr
personal_status_sex
A91                  1.0  1.0
A92                  1.0  1.0
A93                  1.0  1.0
A94                  1.0  1.0

German credit model: logreg (protected: personal_status_sex)
Overall metrics:
accuracy          0.720000
precision         0.783784
recall            0.828571
f1                0.805556
selection_rate    0.740000
tpr               0.828571
fpr               0.533333
dtype: float64

By group:
                     accuracy  precision    recall        f1  selection_rate  \
personal_status_sex
A91                  0.750000   0.666667  0.666667  0.666667        0.375000
A92                  0.683333   0.756098  0.775000  0.765432        0.683333
A93                  0.750000   0.825581  0.845238  0.835294        0.767857
A94                  0.650000   0.666667  0.923077  0.774194        0.900000

                          tpr       fpr
personal_status_sex
A91                  0.666667  0.200000
A92                  0.775000  0.500000
A93                  0.845238  0.535714
A94                  0.923077  0.857143

German credit model: tree (protected: personal_status_sex)
Overall metrics:
accuracy          0.665000
precision         0.758865
recall            0.764286
f1                0.761566
selection_rate    0.705000
tpr               0.764286
fpr               0.566667
dtype: float64

By group:
                     accuracy  precision    recall        f1  selection_rate  \
personal_status_sex
A91                      0.50   0.400000  0.666667  0.500000        0.625000
A92                      0.55   0.685714  0.600000  0.640000        0.583333
A93                      0.75   0.818182  0.857143  0.837209        0.785714
A94                      0.60   0.692308  0.692308  0.692308        0.650000

                          tpr       fpr
personal_status_sex
A91                  0.666667  0.600000
A92                  0.600000  0.550000
A93                  0.857143  0.571429
A94                  0.692308  0.571429

German credit model: rf (protected: personal_status_sex)
Overall metrics:
accuracy          0.735000
precision         0.763636
recall            0.900000
f1                0.826230
selection_rate    0.825000
tpr               0.900000
fpr               0.650000
dtype: float64

By group:
                     accuracy  precision    recall        f1  selection_rate  \
personal_status_sex
A91                  0.500000   0.400000  0.666667  0.500000        0.625000
A92                  0.733333   0.750000  0.900000  0.818182        0.800000
A93                  0.758929   0.800000  0.904762  0.849162        0.848214
A94                  0.700000   0.705882  0.923077  0.800000        0.850000

                          tpr       fpr
personal_status_sex
A91                  0.666667  0.600000
A92                  0.900000  0.600000
A93                  0.904762  0.678571
A94                  0.923077  0.714286

German credit model: gb (protected: personal_status_sex)
Overall metrics:
accuracy          0.745000
precision         0.787097
recall            0.871429
f1                0.827119
selection_rate    0.775000
tpr               0.871429
fpr               0.550000
dtype: float64

By group:
                     accuracy  precision    recall        f1  selection_rate  \
personal_status_sex
A91                  0.500000   0.400000  0.666667  0.500000        0.625000
A92                  0.700000   0.761905  0.800000  0.780488        0.700000
A93                  0.785714   0.833333  0.892857  0.862069        0.803571
A94                  0.750000   0.722222  1.000000  0.838710        0.900000

                          tpr       fpr
personal_status_sex
A91                  0.666667  0.600000
A92                  0.800000  0.500000
A93                  0.892857  0.535714
A94                  1.000000  0.714286

In [15]:
from src.fairness import summarize_fairness_results

adult_income_summary = summarize_fairness_results(adult_income_results, dataset_name="adult_income")
german_credit_summary = summarize_fairness_results(german_credit_results, dataset_name="german_credit")

adult_income_summary

,dataset,model,accuracy,precision,recall,f1,statistical_parity_diff,disparate_impact_ratio,equal_opportunity_diff,predictive_parity_diff
0,adult_income,dummy,0.754316,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
1,adult_income,logreg,0.847676,0.730190,0.602703,0.660349,0.182555,0.304137,0.092371,0.016874
2,adult_income,tree,0.804449,0.598435,0.620270,0.609157,0.196084,0.384576,0.051761,0.077356
3,adult_income,rf,0.847078,0.719862,0.618108,0.665116,0.185614,0.316360,0.076691,0.011528
4,adult_income,gb,0.865870,0.793501,0.613784,0.692167,0.166352,0.319090,0.067373,0.018355

In [16]:
german_credit_summary

,dataset,model,accuracy,precision,recall,f1,statistical_parity_diff,disparate_impact_ratio,equal_opportunity_diff,predictive_parity_diff
0,german_credit,dummy,0.700,0.700000,1.000000,0.823529,0.000000,1.000000,0.000000,0.375000
1,german_credit,logreg,0.720,0.783784,0.828571,0.805556,0.525000,0.416667,0.256410,0.158915
2,german_credit,tree,0.665,0.758865,0.764286,0.761566,0.202381,0.742424,0.257143,0.418182
3,german_credit,rf,0.735,0.763636,0.900000,0.826230,0.225000,0.735294,0.256410,0.400000
4,german_credit,gb,0.745,0.787097,0.871429,0.827119,0.275000,0.694444,0.333333,0.433333